/* 
*{
	margin: 0;
	padding: 0;
} */

body{
	background-color: #f5aaaa;
	color: #080000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;

	line-height: 1.6em;
	margin: 0;

}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: rgb(74, 84, 231);
}

a:active{
	color: green;
}

.container{
	width: 80%;
	margin: auto;
}

.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;

}

.button:hover{
	background-color: red;
	color: #fff;
}

.clr{
	clear: both;
}

.box-1{
	background-color: rgb(131, 11, 67);
	color: #fff;

	border: 3px rgb(0, 0, 0) solid;
	
	padding: 20px;
	margin: 20px 0;
	border-radius: 40px;
	transition-duration: .5s;
}
.box-1:hover{
	background-color: rgb(194, 62, 123);
	padding:25px 30px ;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 0.5em;
}

.box-2{
	border: 3px dotted rgb(233, 43, 9);
	padding: 20px;
	margin: 20px 0;
	
}

#step1-image,
#step2-image,
#step3-image,
#step4-image,
#step5-image,
#step6-image,
#step7-image,
#step8-image,
#step9-image{
	display:none;
	transition-duration: 1s;
}


#step6-image{
	border:dotted 1px;
	height:fit-content;
	width:fit-content;
	padding:10px;
	background-color: rgb(39, 233, 152);
	font-weight: 800;
}



.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}

.categories li{
	padding-bottom:6px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 70%;
	box-sizing: border-box;
}

#side-block{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 15px;
	box-sizing: border-box;

}

.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url('../images/bgimage.jpg');
	background-position: 100px 200px;
	background-repeat: no-repeat;
	background-position: center top;
}

.p-box h1{
	position: absolute;
	top: 40px;
	left: 200px;
}

.p-box h3{
	position: absolute;
	bottom: 40px;
	right: 100px;
}

.fix-me{
	position: fixed;
	top: 400px;
}

.my-list li:first-child{
	background: red;

}

.my-list li:last-child{
	background: blue;
	
}

.my-list li:nth-child(odd){
	background: yellow;
	
}

.my-list li:nth-child(even){
	background: deeppink;
}